.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

h2{
    margin-top: 0px;
    color: white;
}

label{
    margin-left: 0px;
}
.main > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    background: linear-gradient(180deg, rgb(117, 190, 250), rgb(184, 221, 255));
    padding: 40px;
    border-radius: 40px;
}

input {
    outline: 0px;
    width: 200px;
    height: 38px;
    border: none;
    border-radius: 12px;
    padding-left: 10px;
}

form > button {
    border: none;
    background: rgb(17, 121, 240);
    width: 200px;
    height: 38px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

form > textarea {
    outline: 0px;
    border: none;
    border-radius: 12px;
    padding-left: 8px;
    padding-top: 8px;
    height: 100px;
}